h3
{
    font-size: 25px !important;
}
.btn-success:hover
{
   background-color: red;
}

canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {

    10% {box-shadow: 1px 1px 38px blue;}
    20% {box-shadow: 1px 1px 38px yellow;}
    30% {box-shadow: 1px 1px 38px red;}
    40% {box-shadow: 1px 1px 38px green;}
}